@media (max-width: 600px) {
    nav{
    display: flex;
    justify-content: space-between;
}

.key{
    display: flex;
    color: rgb(238, 234, 234);
    justify-content: space-between;
    width: 400px;
    margin-left: -40px;
}
.portofolio{
    display: flex;
    color: white;
    justify-content: space-evenly;
    width: 300px;
    margin-left: -1px;
}
.logo2{
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}
.logo1{
    color: blue;
margin-top: 25px;
    font-size: 14px;
    margin-left: -62px;
}
.content > h1{
    font-size: 40px;
}
.content{
    margin-left: -2px;
}
.content > img{
    width: 100px;
    height: 50px;
}
.house > img{
    width: 300px;
    height: 600px;
    margin-left: 100px;

}
.pro > img{
    width: 200px;
}
.house1 > img{
    width: 340px;
    margin-left: 100px;
}
.admf > img{
    margin-top: 30px;
    width: 40px;
}
.group > img{
    margin-left: 50px;
    width: 480px;
}
.line3A > h1{
    font-size: 25px;
     margin-left: -270px;
     width: 40px;
}
.line1A > P{
    color: #c4c4c4;
    width: 160px;
}
.line1B > P{
    color: #c4c4c4;
    width: 150px;
}
.line1C > P{
    color: #c4c4c4;
    width: 150px;
}
.line1A > img{
  width: 150px;
  height: 200px;
  margin-left: -10px;
}
.line1B > img{
  width: 150px;
  height: 200px;
  margin-left: -20px;
}
.line1C > img{
  width: 150px;
  height: 200px;
  margin-left: -20px;
}
.line1A > h1{
    font-size: 20px;
}
.line1B > h1{
    font-size: 20px;
}
.line1C > h1{
    font-size: 20px;
}
.page{
    background-color: #f6f6f6;
    width: 600px;
}
.our > h1{
    font-size: 20px;
    margin-left: 30px;
    width: 150px;
}
.line2 > p{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 9px;
    width: 350px;
    color: #c4c4c4;
}

.container{
    display: flex;
    margin: 3px;
    width: 500px;
}
.lett > p{
    margin-left: -700px;
    margin-top: 50px;
}
.display{
    background-color: black;
    color: white;
    width: 600px;
}
.item{
    display: flex;
}

button{
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    width: 75px;
    height: 24px;
}
.letter > h1{
    font-size: 10px;
    margin-left: -235px;
}
.letter > p{
    margin-left: -235px;
    font-size: 10px;
    width: 80px;
}
.letter{
    margin: 10px;
}
.name{
    width: 45px;
    z-index: 6;
    position: absolute;
    margin-top: -150px;
    margin-left: 70px;
    height: 45px;
}
.house1{
    margin-top: -70px;
    width: 75px;
    margin-left: -40px;
}
.house{
    margin-top: -60px;
    margin-left: -30px;
}
.rec{
   width: 200px; 
   height: 20px;
}


.line1{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.line3{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.line3 > h1{
    margin-right: 40px;
    font-size: 10px;  
}
.one > img{
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 50px;
    margin-top: -1px;
    margin-left: -220px;
}
.two > img{
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    margin-top: -8px;
    margin-left: -235px;
}
.three > img{
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 70px;
    margin-bottom: -150px;
    margin-left: -220px;
}
.floor{
margin-left: -90px;
}
.floor1{
    margin-left: -220px;
}
.floor2{
    margin-left: -230px;
}
.floor3{
    margin-left: -240px;
}
.line4{
    display: flex;
    justify-content: space-evenly;
    margin-left: 180px;
    margin: 20px;

}
.line5{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.four > img{
    width: 300px;
    margin-left: -250px;
    height: 400px;
}
.five > img{
    margin-right: 300px;
    margin-top: -90px;
    width: 170px;
    height: 220px;
}
.name > h1{
    font-size: 18px;
    margin-top: -4px;
    margin-left: -40px;
}
.name > p{
    width: 150px;
    margin-left: -56px;
    font-size: 13px;
    margin-top: -7px;
}
.name > img{
    width: 60px;
    height: 60px;
    margin-top: -240px;
    margin-left: -25px;
}
.six > img{
    width: 190px;
    height: 410px;
    margin-left: -390px;

}
.line6A > h1{
    font-size: 20px;
    width: 90px;
}
.line6A > p{
    font-size: 15px;
    width: 220px;
    margin-top: -10px;
}
.line6A > img{
    width: 100px;
    height: 60px;
}
.line6B > img{
    width: 300px;
    height: 400px;
}
.line7A > img{
    width: 150px;
    height: 200px;
}
.dateA > h1{
    font-size: 20px;
    margin-top: -9px;
    }
.dateA > p{
    margin-top: -10px;
}
.right > p{
    width: 125px;
    font-size: 13px;
    margin-top: -3px;
}
.dat > p{
    width: 150px;
    font-size: 13px;
}
.lin > img{
    width: 600px;
}
.line8a{
    width: 150px;
    height: 70px;
    margin-right: -10px;
}
.line8a > h1{
  font-size: 15px; 
  width: 130px;
}
.line8a > p{
    font-size: 13px;

}
.arrow{
 margin-left: -22px; 
 width: 25px;
 height: 20px; 

}
.arrow > img{
    width: 20px;
}
.page9{
    width: 600px;
    margin-left: -5px;
}
.line9a > img{
    width: 260px;
    height: 300px;
    margin-left: -1px;
}
.profile > h1{
    font-size: 15px;
    margin-top: -2px;
    width: 100px;
    margin-left: 19px;
}
.profile > p{
    font-size: 12px;
    width: 170px;
    margin-left: -2px;
}
.profile{
    width: 170px;
    height: 90px;
   margin-right: 60px;
}
.detail{
    width: 300px;
    height: 200px;
}
.detail > h3{
    font-size: 25px;
}
.detail > p{
     font-size: 20px;
}
}